@import url(//fonts.googleapis.com/css?family=Quicksand:400,700);

html {
  -webkit-font-smoothing: antialiased;
  font-family: 'Quicksand', 'Work Sans', Verdana;
}

body {
  margin: 0px;
}

a {
  color: #865cd6;
  text-decoration: none;
}


@media (max-width: 880px) {
  .contact-area-img {
    display: none !important;
  }
}

@media (max-width: 899px) {
  .pic-small {
    max-width: 90% !important;
  }
  .pic-medium {
    max-width: 90% !important;
  }
  .pic-large {
    max-width: 90% !important;
  }
}

@media (min-width: 900px) {
  .pic-small {
    width: 400px !important;
    margin-left: -100px;
    margin-right: -100px;
  }
  .pic-medium {
    width: 450px !important;
  }
  .pic-large {
    width: 80% !important;
  }
}

@media (min-width: 1200px) {
  .pic-large {
    width: 1000px !important;
  }
}

@media (min-width: 1400px) {
  .pic-small {
    width: 450px !important;
    margin-bottom: 5px;
  }
  .pic-medium {
    width: 500px !important;
  }
}


.heading {
  font-size: 24pt;
  letter-spacing: 3px;
}

.heading-large {
  font-size: 42pt;
}


.navigation {
  background-color: rgba(255,255,255,0.9);
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.navigation-menu{
  padding: 10px;
}

.navigation-menu-label{
  font-size: 18pt;
}

.navigation-menu-links{
  float: right;
  margin-right: 10px;
}

.navigation-menu-links-item{
  font-size: 12pt;
  margin: 15px;
}

.project-area {
  padding-top: 50px;
  text-align: center;
}

.project-card-inner {
  width: 350px;
  height: 350px;
  position: relative;

}

.project-card-inner-name {
  background-color: rgba(255,255,255,0.9);
  font-size: 14pt;
  bottom: 0px;
  width: inherit;
  position: absolute;
  z-index: 0;
}

.contact {
  background-image: linear-gradient(135deg, #6750C9 0%, #F2ACCA 100%);
  width: 100%;
  color: #fff;
  height: 475px;
}

.contact-area {
  float: left;
  text-align: left;
  margin-left: 20px;
  max-width: 500px;
}

.contact-area-img {
  float: right;
  height: inherit;
}

.contact-area-title {
  color: #fff;
}

.contact-area-text {
  font-size: 12pt;
  color: rgba(255,255,255,0.85);
  font-weight: 300;
}

.contact-area-text-links {
  margin-top: 25px;
}

.contact-area-text-links a {
  color: #fff;
}

.project-info {
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 75px;
}

.project-info a {
  color: #fff;
  font-weight: bold;
}

.project-info-text {
  font-size: 12pt;
  max-width: 900px;
  line-height: 1.375;
  margin: 30px;
}

.not-found {
    text-align: center;
    margin: 200px;
    vertical-align: middle;
}
